@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

header {
    display: flex;
}

.dropdown {
    display: inline-block;
}

.main-menu-btn {
    background-color: dodgerblue;
    color: white;
    border: none;
    cursor: pointer;
    padding: 15px;
}

.main-menu-btn:hover {
    background-color: blue;
}

.dropdown-child {
    display: none;
    background-color: skyblue;
}

.dropdown-child a {
    color: blue;
    padding: 20px;
    min-width: 150px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-child {
    display: block;
}

img {
    margin-left: 100px;
    position: absolute;
}
